.title {
	width:100%;
	
}
#topic {
	margin: 20px;
	width: 60%;

}
.words {
	font-size:25px;
	margin:10px;
}
.board {
	border: black 4px dashed;
	padding: 30px;
	margin:2px;
	
}
body {
	font-family:fantasy;
	font-size:15px;
	background-image:url("../images/background.jpg");
}
.foot {
	text-align:center;
	background-color: gray;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	color:black;
}